In [2]:
import pandas as pd

In [ ]:
import pandas as pd
data= {'Name': ['Mitu','Shahadat','Masud','Sourov','Mahi','Sumaiya'],
      'Age': [23,23,24,22,22,20],
      'Gender': ['F','M','M','M','F','F'],
      'Marks': [80,83,'NaN',90,92,'NaN']}
df =pd.DataFrame(data)
df
df.shape
df.info
df.columns

import statistics as st
# কলামের নাম 'Values' ব্যবহার করতে হবে
DF = pd.read_csv('data.csv')
DF
values = DF["Values"].tolist()
values
print("Mean:", st.mean(values))
print("Median:", st.median(values))
print("Mode:", st.mode(values))
print("Standard Deviation:", st.stdev(values))

print("Variance:", st.variance(values))

Mean: 20.9
Median: 21.0
Mode: 22
Standard Deviation: 7.766738197095497
Variance: 60.32222222222222

In [3]:

data= {'Name': ['Mitu','Shahadat','Masud','Sourov','Mahi','Sumaiya'],
      'Age': [23,23,24,22,22,20],
      'Gender': ['F','M','M','M','F','F'],
      'Marks': [80,83,'NaN',90,92,'NaN']}

In [4]:

df =pd.DataFrame(data)

In [28]:
df

       Name  Age Gender Marks
0      Mitu   23      F    80
1  Shahadat   23      M    83
2     Masud   24      M   NaN
3    Sourov   22      M    90
4      Mahi   22      F    92
5   Sumaiya   20      F   NaN

In [8]:
df.shape

(6, 4)

In [9]:
df.info

<bound method DataFrame.info of        Name  Age Gender Marks
0      Mitu   23      F    80
1  Shahadat   23      M    83
2     Masud   24      M   NaN
3    Sourov   22      M    90
4      Mahi   22      F    92
5   Sumaiya   20      F   NaN>

In [10]:
df.columns

Index(['Name', 'Age', 'Gender', 'Marks'], dtype='object')

<bound method NDFrame.describe of        Name  Age Gender Marks
0      Mitu   23      F    80
1  Shahadat   23      M    83
2     Masud   24      M   NaN
3    Sourov   22      M    90
4      Mahi   22      F    92
5   Sumaiya   20      F   NaN>

In [16]:
df = pd.read_csv('data.csv')

In [29]:
df

       Name  Age Gender Marks
0      Mitu   23      F    80
1  Shahadat   23      M    83
2     Masud   24      M   NaN
3    Sourov   22      M    90
4      Mahi   22      F    92
5   Sumaiya   20      F   NaN

In [ ]:

import statistics as st

In [ ]:
# কলামের নাম 'Values' ব্যবহার করতে হবে
values = df["Values"].tolist()

In [20]:
values

[10, 12, 15, 18, 20, 22, 22, 25, 30, 35]

In [21]:

print("Mean:", st.mean(values))
print("Median:", st.median(values))
print("Mode:", st.mode(values))
print("Standard Deviation:", st.stdev(values))
print("Variance:", st.variance(values))

Mean: 20.9
Median: 21.0
Mode: 22
Standard Deviation: 7.766738197095497
Variance: 60.32222222222222